* {
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 21, 56);
}
#test {
    width: 900px;
    height:700px;
    margin: 0px auto;
    border: 1px solid black;
    margin-top: 10vh;
    background-color: azure;
}

#heading{
    text-align: center;
    margin-top: 5vh;
    color: grey;
}

.small-display{
    min-width: 12vw;
    height: 15vh;
    text-align: center;
    position: absolute;
    top: 50%;
    border: 3px solid black;
    background-color: grey;
}

#description{
color: black;
margin-bottom: 1vh;
}

#newArr, #clear{
    margin-top: 2vh;
    border-radius: 5px;
}

#user-Input{
    width: 10vw;
}

#output{
    min-width: 11vw;
    border: 1px solid black;
    height: 3vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vh;
    background-color: white;
}
